
venv/
.venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.env
debug.log
*debug.log
dump.rdb
# Media uploads
media/
# IDE/config files
.DS_Store
.vscode/
.idea/
# Log files
*.log
# System files
Thumbs.db